.container{
    display: flex;
    justify-content: left;
    align-items: left;
}

.nombre{
    grid-column: span 2;
    padding-right: 340px;
}

h1{
    padding: 10px;
}

p:before{
    content: attr(type);
    display: block;
    margin: 10px 5px;
    color: #000;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid rgb(138, 137, 137);
}

.form{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(3,75px);

    border-radius: 1px;
    width: 1000px;
    height: 260px;
    border-bottom: 1px solid rgb(151, 149, 149);
}

